name: CI-CD Pipeline

# Trigger the workflow on push to main branch
on:
  push:
    branches:
      - main
  workflow_dispatch:  # Optional: manual trigger from GitHub UI

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t janaksingh/node-hello-app:latest .

      - name: Log in to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker image
        run: docker push janaksingh/node-hello-app:latest
